:root {
  --glow-color: #d9b0ff;
  --glow-spread-color: #bf7bffc7;
  --btn-color: #643d88;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #212121;
  overflow: hidden;
}

#myButton {
  border: 3px solid var(--glow-color);
  padding: 15px 45px;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 16px;
  outline: none;
  box-shadow: 0 0 16px 3px var(--glow-color),
    0 0 64px 16px var(--glow-spread-color), inset 0 0 12px 3px var(--glow-color);
  text-shadow: 0 0 8px var(--glow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  cursor: move;
}

#myButton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(32px);
  transform: perspective(24px) rotateX(35deg) scale(1, 0.6);
}

#myButton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 16px 4px var(--glow-color),
    0 0 64px 32px var(--glow-spread-color), inset 0 0 12px 4px var(--glow-color);
}

.btn-Back {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  bottom: 20px;
  right: 20px;
}

.btn-Back:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

/* Animación */
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
